.navExtensionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 160px;
}
.navExtensionContainer p {
  font-size: 64px;
  font-weight: 500;
  line-height: 80px;
  margin-top: 16px;
  margin-bottom: 48px;
}
.navExtensionContainer h2 {
  font-size: 20px;
  font-weight: 500;
}
.buyNow {
  text-decoration: none;
  background: #fc5f5f;
  padding: 11px 32px;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
}
@media screen and (max-width: 1200px) {
  .navExtensionContainer p {
    font-size: 40px;
    line-height: 48px;
  }
}
@media screen and (max-width: 615px) {
  .navExtensionContainer {
    padding: 64px 80px;
  }
  .navExtensionContainer h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 295px) {
  .navExtensionContainer {
    padding: 80px 32px;
  }
  .navExtensionContainer p {
    font-size: 30px;
    line-height: 32px;
  }
  .navExtensionContainer h2 {
    font-size: 15px;
  }
}
@media screen and (max-width: 204px) {
  .navExtensionContainer {
    padding: 48px 16px;
  }
  .navExtensionContainer p {
    font-size: 24px;
  }
  .buyNow {
    font-size: 12px;
    padding: 11px 24px;
  }
}
@media screen and (max-width: 160px) {
  .navExtensionContainer {
    padding: 48px 5px;
    grid-template-columns: 1fr;
  }
  .buyNow {
    font-size: 11px;
    padding: 8px 16px;
  }
}
@media screen and (max-width: 120px) {
  .navExtensionContainer p {
    font-size: 18px;
    line-height: 24px;
  }
  .navExtensionContainer h2 {
    font-size: 13px;
  }
}
@media screen and (max-width: 100px) {
  .navExtensionContainer {
    padding: 32px 2px;
  }
  .navExtensionContainer p {
    font-size: 16px;
  }
  .navExtensionContainer h2 {
    font-size: 10px;
  }
  .buyNow {
    font-size: 9px;
    padding: 2px;
    margin: 0;
  }
}
